#right{
	position:absolute;
	width:25%;
	height: 25%;
	bottom: 0px;
	right:0px;
	border-image: url("right.png") 20% round
	
}
#lefty{
	position:absolute;
	width:25%;
	height: 25%;
	bottom: 0px;
	left:0px;
	border-image: url("lefty.png") 20% round
}

body {
	
	color: white;
	font-family: impact ;
	text-align: center;
	text-shadow: 3px 3px black;
	background-image: URL("background.jpg");
	background-size: 100%;
	background-repeat: no-repeat

}

#header{
	
	background-image: URL("leather.png");
	position: fixed;
	top: 0;
	width: 100%;
	padding: 1%;
	text-align: left;
	font-size: 50px;
	font-weight: bold;
	
	
}
#banner {
	/*background-image: URL("leather.png");
	*/
	margin-top: 10%;
	padding: 2.5%;
	
	}

#title{
	font-size: 50px;
	font-weight: bold;
	color: 	#00b3b3
	}
#start{
	background-color: 	#00b3b3;
	font-family: impact;
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin-top: -10%;
	border-radius: 12px
}	

#box{
	height: 50%;
	width: 50%;
	background-color: #00b3b3;
	position: absolute;
	border-radius: 12px;
	padding:15px;
	top: 25%;
	left: 25%
}


#footer{
	
	background-image: URL("leather.png");
	
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 5%
	}
